PostgreSQL, including pgAdmin4 (https://www.postgresql.org/download/)

Sublime (https://www.sublimetext.com/download)

Python (https://www.python.org/downloads/)

Pandas (https://pandas.pydata.org/docs/getting_started/install.html)
pip install pandas
